.head{
    background-color: rgb(23, 110, 103);
    color: white;
}

.body-side{
    display: flex;
}

ul{
    padding: 0px;
}

li{
    background-color: rgb(158, 160, 161);
    list-style: none;
    margin: 2px;
}

a{
    color: rgb(238, 241, 241);
    
 }

li:hover{
    background-color: rgb(192, 187, 187);
}

.b1, .b2{
    background-color: rgb(209, 207, 207);
}

.b3{
    background-color: palevioletred;
}

.side{
    margin:-18px 2px 0px 62px ;
    width: 20%;
    align-items: right;
}

.body{
    width: 60%;
    margin-top: -36px;
}